# environment

ENVIRONMENT=local

# Postgresql url (ex.Supabase)
# DATABASE_URL="postgresql://postgres:OD1Go86co3Iu4sC2@db.hooszcsaocbpfzgnelej.supabase.co:5432/postgres"
DATABASE_URL=""
# @see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=http://localhost:3000

# You can generate the secret via "openssl rand -base64 32" on Unix
# @see https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=supersecret

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
DISCORD_CLIENT_ID="fake"
DISCORD_CLIENT_SECRET="fake"

# Google
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

# Github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_API_TOKEN=""

# Openai
OPENAI_API_KEY=""
OPENAI_ORGANIZATION=""

# Supabase

SUPABASE_URL=""
SUPABASE_SECRET=""

# # Google oauth token from db
GOOGLE_ACCESS_TOKEN=""
GOOGLE_REFRESH_TOKEN=""

TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
